/* Extra small devices (portrait phones, less than 576px)*/
@media(max-width: 575px) {
.h1{
	font-size: 30px;
	background-color: green;
} 
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	.h1{
		font-size: 30px;
		background-color: blue;
	}
	
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	.h1{
		background-color: teal;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
.h1{
	background-color: yellow;
} 


 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width:1399px) { ... }
/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width:1400px){

}